<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>스파르타코딩클럽 | 부트스트랩 연습하기</title>
    <meta property="og:title" content="원페이지 쇼핑몰" />
    <meta property="og:description" content="나의 첫 시작" />
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.jpg') }}" />

    <style>
        .main {
            width: 700px;
            margin: auto;
        }

        .image {
            display: block;
            width: 700px;
        }

        .title {
            margin-top: 20px;
            font-size: 40px;
        }

        .description {
            display: block;
            background: none;
            margin-bottom: 30px;
        }

        .price {
            font-size: 20px;
        }

        .input-group {
            margin-top: 20px;
        }

        .btn {
            display: block;
            margin: auto;
        }

        .E_rate {
            color: blue;
        }

        .table {
            margin-top: 20px;
        }

    </style>
    <script>
        function q1() {
            $('#rate').empty();
            $.ajax({
                type: "GET",
                url: "http://spartacodingclub.shop/sparta_api/rate",
                data: {},
                success: function (response) {
                    let rate = response['rate'];
                    let temp_html = `<p>환율 : ${rate}</p>`;
                    $('#rate').append(temp_html);
                }
            })
        }

        $(document).ready(function () {
            q1();
            order_view();
        });

        function order() {

            let name = $('#name-box').val()
            let quentity = $('#inputGroupSelect01').val()
            let address = $('#address-box').val()
            let phone = $('#phonenumber-box').val()

            $.ajax({
                type: "POST",
                url: "/order",
                data: {name_give: name, quentity_give: quentity, address_give: address, phone_give: phone},
                success: function (response) {
                    alert(response["msg"]);
                    window.location.reload();
                }
            })
        }

        function order_view() {

            $.ajax({
                type: "GET",
                url: "/order",
                data: {},
                success: function (response) {
                    let orders = response['all_orders']
                    let count = 0

                    for (let i = 0; i < orders.length; i++) {

                        count = count + 1

                        let address = orders[i]['address']
                        let name = orders[i]['name']
                        let phone = orders[i]['phone']
                        let quentity = orders[i]['quentity']

                        let temp_html = `<tr>
                                            <th scope="row">${count}</th>
                                            <td>${name}</td>
                                            <td>${quentity}</td>
                                            <td>${address}</td>
                                            <td>${phone}</td>
                                        </tr>`

                        $('#table-body').append(temp_html);

                    }

                }
            })

        }


    </script>
</head>

<body>
<div class="main">
    <img class="image" src="https://img.etnews.com/news/article/2021/05/26/cms_temp_article_26155823990264.jpg">
    <div class="title">맥북을 팝니다 <span class="price">가격 : 1,000,000원 / 1대</span></div>
    <div class="description"> 전대미문 아름다움 끝판왕 하지만 가격을 ㅎㄷㄷ 노트북. 맥북을 급처 합니다. 1000000원을 일단 입금하시면, 랜덤으로 맥북을 발송해드립니다.</div>
    <div class="E_rate" id="rate">
        <p>환율 :</p>
    </div>
    <div class="input-group mb-3 ">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">주문자 성명</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
               id="name-box">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">수량</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">1대</option>
            <option value="2">2대</option>
            <option value="3">3대</option>
        </select>
    </div>
    <div class="input-group mb-3 ">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">주소</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
               id="address-box">
    </div>
    <div class="input-group mb-3 ">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">번호</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
               id="phonenumber-box">
    </div>
    <button onclick="order()" class="btn btn-primary" type="submit">주문하기</button>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">주문자 성명</th>
            <th scope="col">수량</th>
            <th scope="col">주소</th>
            <th scope="col">번호</th>
        </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>

</div>

</body>

</html>